div(layout='column' layout-gt-lg='row')
	div(flex flex-order-gt-lg='2' flex-order='1')
		sv-grid-responsive
	.margin-top-8(flex-gt-lg='20' flex-order-gt-lg='3' flex-order='2')
		.margin-bottom-10
			sv-article-thumb(
			home-small='true'
			state='politics1.state'
			id='{{politics1.id}}'
			img='img/articles/weapon.jpg'
			title='{{politics1.title}}'
			)
		.margin-bottom-10
			sv-article-thumb(
			home-small='true'
			state='politics1.state'
			id='{{politics1.id}}'
			img='img/articles/economy.jpg'
			title='{{politics1.title}}'
			)

	margin-top-8(flex-gt-lg='20' flex-order-gt-lg='1' flex-order='3')
		.margin-bottom-10
			sv-article-thumb(
			home-small='true'
			state='politics1.state'
			id='{{politics1.id}}'
			img='img/articles/science.jpg'
			title='{{politics1.title}}'
			)
		.margin-bottom-10
			sv-article-thumb(
			home-small='true'
			state='politics1.state'
			id='{{politics1.id}}'
			img='img/articles/economy2.jpg'
			title='{{politics1.title}}'
			)

