sv-one-article(
img='{{news.img}}'
title='{{news.title}}'
author='{{news.author}}'
date='{{news.date}}'
sections='news.sections'
body='{{news.content}}'
)
.light-margin-5(flex='')
	sv-ad-mb-bank
.light-margin-5(flex='')
	sv-comment
