md-content
	md-grid-list(
	md-cols-sm='2'
	md-cols-gt-sm='3'

	md-row-height="1:1"
	md-gutter='15px')
		md-grid-tile.card(ng-repeat='n in secondNews')
			sv-article-thumb-second(id='{{n.id}}'
			title='{{n.title}}'
			img='{{n.img}}')

