md-content
	md-grid-list(
	md-cols-sm='2'
	md-cols-md='2'
	md-cols-gt-md='3'
	md-cols-gt-xl='5'

	//md-row-height-gt-md='1:1'
	md-row-height="1:1"
	md-gutter-gt-sm='8px'
	md-gutter='4px')
		md-grid-tile.red( md-colspan='2' md-rowspan='2' md-rowspan-gt-md='2' )
		md-grid-tile.green( md-rowspan='1' )
		md-grid-tile.blue

