md-content
    md-grid-list(
    md-cols='3'
    md-cols-md='2'
    md-cols-sm='2'

    md-row-height="1:1"
    md-gutter='15px')
        md-grid-tile.card(ng-repeat='t in secondTiles')
            sv-article-thumb-second()

